.signup-container{
    border: 2px solid black;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: white;
}
.signup-container h2{
    text-decoration: underline;
}


.signup{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    min-height: 765px;
    /* border: 2px solid red; */
}
.signuptitle{
    /* border: 2px solid red; */
    text-align: center;
}
@media (max-width:768px){
    .signuptitle{
        width: 350px;
        /* border: 2px solid red; */
        text-align: center;
    }
    .signup{
        /* border: 2px solid red; */
        width: 400px;
    }
}

.singupform{
    /* border: 2px solid red; */
    gap: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.singupform input{
    text-align: center;
    border-radius: 15px;
    height: 30px;
}
.singupform button{
    background-color: rgb(56, 155, 236);
    color: white;
    padding: 0px 10px;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}
.singupform button:hover{
    background-color: white;
    color:rgb(56, 155, 236) ;
}